rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{user_id} {
      allow read, create: if request.auth != null;  //Only users logged in can read and create document (user data here)
      allow update: if request.auth.uid == user_id; //Only users who creted the document can update it
    }
    match /projects/{project_id} {
      allow read, create, update: if request.auth != null;//Only users logged in can read,update and create document (project here)
      allow delete: if request.auth.uid == resource.data.createdBy.id;//Only users who creted the project can update it
    }
  }
}